html, body{
    height: 100%;
}

body{
    color: white;
    background: rgb(65,93,140);
    background: linear-gradient(180deg, rgba(65,93,140,1) 0%, rgba(112,122,139,1) 39%, rgba(65,93,140,1) 100%);
}

.porfile{
    text-align: center;
    margin-top: 40px;
}

.logo{
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: white; 
    font-weight: bolder;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
    
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: auto;
    padding: 10px;
    text-align: center;
    max-width: 1000px;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 30px 0px 30px 0px;
}

.social img{
    width: 25px;
    border-radius: 50%;
}

.link-list{   
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

.link-list li{
    margin: 10px 20px;
}

.link-list li a{
    display: block;
    background: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(61, 73, 141);
    font-weight: 600;
}

.link-list li a span{
    color: black;
    display: block;
    margin-top: 10px;
    font-weight: 500;
}

.video{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}



footer{
    bottom: 0;  
    position: static;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height:100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
    margin-top: 30px;
    color: white; 
} 
